/* html,
body,
main {
  height: 100%;
  position: fixed;
  overflow: hidden;
} */

.is-fixed-bottom {
  z-index: 2;
  position: sticky;
  bottom: 0;
}

.interactive {
  cursor: pointer;
}

.interactive:hover {
  color: var(--pico-primary-hover);
}