/* html,
body,
main {
  height: 100%;
  position: fixed;
  overflow: hidden;
} */

#chat {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;

  position: fixed;
  bottom: 0px;
}

#chat_messages {
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  display: flex;
  flex-direction: column-reverse;
}

#chat_form {
  padding: 2em 2em 1em;
}

.chat_message {
  margin-bottom: 0.5em;
  width: max-content;
}

@media only screen and (min-width: 500px) {
  #chat_form {
    padding: 2em 4em 1em;
  }
}